@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background: white;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}

.excuses {
  display: block;
  text-align: center;
  font-size: 42px;
  margin: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#button {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 2px 1px black;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
}

#button:hover {
  box-shadow: 0 0.3px 4px 1px black;
}
